.header {
    text-align: center;
}
.header-button {
    background: #6bffb5;
    border: 0;
    border-radius: 5px;
    padding: 7px;
}
.login{
    text-align: center;
}
.fields{
    margin: 7px;
}
.message{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}